<!DOCTYPE html>
<html>
<head>
<script src="libraries/angular.1.4.js"></script>
<!-- <link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'> -->
<script src="todo.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/style.css"> -->
<link rel="stylesheet" type="text/css" href="todo.css">
	<meta charset="utf-8">
	<title>Todo List</title>
</head>
<body>
	<div ng-app='todo-app' ng-controller='mainController'>
		<div id="header">
			<h1>Todo List</h1>
		</div>
		<div id="incomplete">	
			<div id="todo-list">
				<div ng-repeat='task in tasks | filter:{complete:false}' class="task-container">
					<task task='task' />
				</div>
			</div>
			<form>
				New Task: <input type='text' ng-model='newTaskName'>
				<button type="submit" ng-click='addTask()'>Add</button>
			</form>
		</div>
		<div id="complete">
			<div id="completed-header">
				<h1>Completed</h1>
			</div>
			<div id="done-list">
				<div ng-repeat='task in tasks | filter:{complete:true}' class="finished-task-container">
					<task task='task' />
				</div>
			</div>
		</div>
	</div>
</body>
</html>
