<!DOCTYPE html>
<html>
<head>
<script src="libraries/angular.1.4.js"></script>
<!-- <link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'> -->
<script src="todo.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/style.css"> -->
<link rel="stylesheet" type="text/css" href="todo.css">
	<meta charset="utf-8">
	<title>Todo List</title>
</head>
<body>
	<div ng-app='todo-app' ng-controller='mainController'>
		<div id="header">
			<h1>Todo List</h1>
		</div>
		<div id="todo-list">
			<div ng-repeat='(taskName, task) in tasks' class="task-container">
				<task task='task' />
			</div>
		</div>
		<div id="header">
			<h1>Completed</h1>
		</div>
		<div id="done-list">
			<div ng-repeat='(taskName, task) in finishedTasks' class="finished-task-container">
				<finishedTask task='task' />
			</div>
		</div>
	</div>
</body>
</html>
