@font-face {
  font-family: 'CovesLight';
  src: url("fonts/CovesLight.otf"); /* File to be stored at your site */
  }

@font-face {
  font-family: 'CovesBold';
  src: url("fonts/CovesBold.otf"); /* File to be stored at your site */
  }

*{
    font-family:"CovesLight";
}

body {
	font-family: 'CovesLight';
	padding-left: 16px;
/*     background: #EFEFEF !important;*/
}

input {
	border: none;
	border-bottom: 1px solid black;
}

input:focus {
	outline: none;
}

#header {
    text-align: center;
    font-family: 'CovesBold';
}

#todo-list {

}

#incomplete > * {
	margin-left: 16px;
	padding: 8px;
}

#incompleteStyle {
    margin-right: 16px;
    background-color: #D7CEC7;
}

#complete {
    margin-right: 16px;
    background-color: #D7CEC7;
}

.task {
	padding-bottom: 8px;
}

.task .title {
	font-size: 34px;
	font-weight: bold;
}

.task-info {

}

#completed-header {
    text-align: center;
    font-family: 'CovesBold';
}

.subtasks {
	margin-left: 32px;
}

.subtasks > * {
	padding: 4px;
}

.subtask .title {
	font-size: 20px;
	font-weight: bold;
}

.time-input {
	width: 60px;
}

#addNew {
    background-color: transparent;
    border: 1px dashed #FFFFFF; /* Green */
    margin-left: 15px;
    height: 35px;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}
